@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background: #F2F2F2;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/* Navigation section */
.page-header {
  color: #000000;
  background: #ffffff;
}

.navigation-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.navigation {
  display: flex;
  position: relative;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  position: absolute;
  cursor: pointer;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 168px;
  flex-grow: 1;
}

.navigation-user {
  display: flex;
  margin: 0;
  max-width: 296px;
  margin-left: auto;
}

.navigation-item {
  margin: 0;
  padding: 20px 16px;
}

.magnifier {
  background-image: url(../images/magnifier.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.heart {
  position: relative;
  background-image: url(../images/heart.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.like-number {
  position: absolute;
  top: 10px;
  left: 25px;
  color: #ffffff;
  background-color: #7DB54F;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  border-radius: 50%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.link-button {
  text-align: center;
  background: #756157;
  padding: 8px 34px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
}

/* main content */
.main-container {
  flex-grow: 1;
}

/* hero section */
.hero {
  color: #000000;
  background-color: #D7BDB0;
  background-image: url(../images/divider.svg), url(../images/hero_background.jpg);
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: center bottom, center center;
  padding: 52px 371px 82px;
}

.hero-image {
  display: block;
}

/* adventages opening title  */
.advantages-opening {
  padding: 69px 274px;
  margin: 0 auto;
}


.common-title {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.common-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-common-title {
  margin: 0 auto;
  max-width: 175px;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-common-description {
  text-align: center;
}


/* advantages item decoration */
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
}

.side-title {
  color: #ffffff;
}

.real-town {
  display: flex;
  flex-wrap: wrap;
  padding: 102px 85px;
  color: #ffffff;
  background: #82B3D3;
}

.advantages-sub-item {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  box-sizing: border-box;
  padding: 113px 85px;
  list-style: none;
}

.sub-item-wrap {
  width: 230px;
}


.little-area {
  background: rgba(131, 179, 211, 0.12);
}

.beautiful-road {
  background: rgba(131, 179, 211, 0.2);
}

.few-turist {
  background: rgba(131, 179, 211, 0.12);
}

.devils-bridge {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  padding: 102px 85px;
  color: #ffffff;
  background: #82B3D3;
}

.invitation-title {
  width: 505px;
  margin: 0 auto;
}

.invitation-wrap {
  padding: 64px 348px;
}

/* experience item description */
.experience-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.experience-item {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  box-sizing: border-box;
  background: rgba(131, 179, 211, 0.12);
  padding: 183px 85px 81px;
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.house-item {
  background-image: url(../images/house.svg);
}

.food-item {
  background: #ffffff;
  background-image: url(../images/burger.svg);
  background-repeat: no-repeat;
  background-position: 50% 80px;
}

.gift-item {
  background-image: url(../images/gift-box.svg);
}

.interested {
  width: 592px;
  margin: 0 auto;
  text-align: center;
  padding: 96px;
}

/* Стилизация кнопки "Поиск гостиницы в Седоне" */
.interested-link {
  text-align: center;
  background: #756157;
  padding: 8px 50px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.subscribe-wrap {
  max-width: 684px;
  margin: 0 auto;
  padding-top: 96px;
  padding-bottom: 104px;

}

.subscribe {
  text-align: center;
  color: #ffffff;
  background-color: #37729B;
  background-image: url(../images/subscribe_backgrouns.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;

}

/* email-field decoration */
.email {
  box-sizing: border-box;
  width: 452px;
  background-color: #F2F2F2;
  padding: 14px 20px;
  font-family: inherit;
  font-size: inherit;
  line-height: 24px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}


/* Стилизация кнопок "Подписаться" и "Применить" */
.blue-button {
  font-family: inherit;
  min-height: 52px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background: #82B3D3;
  padding: 8px 50px;
  border: none;
  text-transform: uppercase;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.subscribe-form {
  display: flex;
  margin: 0;
  padding: 0;

}

.footer-container {
  margin: 0 auto;
  width: 1060px;
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-item {
  padding: 13px 12px;
}

.phone-number {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

/* Social networks */

.social-link {
  display: inline-block;
  text-decoration: none;
  width: 20px;
  height: 20px;
}

.vkontakte {
  background-image: url(../images/vkontakte.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.telegram {
  background-image: url(../images/telegram.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.youtube {
  background-image: url(../images/youtube.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


/* Catalog page *****************************************************************************************************************/
.main-inner-filter {
  padding: 0 70px;
  color: #ffffff;
  background-color: #5A768E;
  background-image: url(../images/filter_background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.catalog-content-wrapper {
  padding: 0 70px;
}

.inner-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
}

.breadcrumbs-link {
  font-size: 16px;
}

.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.price-range {
  width: 288px;
}


.price-buttons {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  justify-content: space-around;
}


.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-list {
  list-style: none;
  padding: 0;
  width: 150px;
}

.controls {
  font-size: 18px;
  line-height: 23px;
}

.catalog-content-title {
  display: flex;
  align-items: center;
}

.preview-list {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.search-title {
  margin: 0;
  margin-right: 200px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-control {
  font-family: inherit;
  padding: 14px 20px;
  width: 292px;
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/* preview button decoration */
.preview-list {
  display: flex;
  gap: 8px;
}

.preview-item-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
  border: 2px solid #E5E5E5;;
  border-radius: 4px;
  width: 48px;
  height: 48px;
}

.tile {
  background-image: url(../images/tile.svg);
}

.large-icon {
  background-image: url(../images/large-icon.svg);
}

.list {
  background-image: url(../images/list.svg);
}

/* Reset button decoration */
.reset-button {
  border: none;
  background: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

/* Карточки на флексах */
/* .card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  gap: 20px;
} */

/* Карточки на гридах */
.card-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  padding: 0;
  margin: 0;
  gap: 20px;
  list-style: none;
  margin-bottom: 40px;
  padding-bottom: 40px;
}

/* карточка на флексах */
 .card-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 340px;
  box-shadow: 0 0 0 1px #e6e6e6;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}

/* Карточка на гридах */
.card-item {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  margin: 0;
  gap: 16px 20px;
  box-sizing: border-box;
  width: 340px;
  box-shadow: 0 0 0 1px #e6e6e6;
  padding: 20px;
  border-radius: 4px;
}


.card-title {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.card-price {
  margin: 0;
  text-align: right;
}

.card-hotel {
  margin: 0;
}

.card-link {
  grid-column: 1 / -1;
  text-decoration: none;
}

.button-decoration {
  box-sizing: border-box;
  width: 140px;
  text-decoration: none;
  color: white;
  padding: 8px 26px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  background: #756157;
  border-radius: 4px;
}

.card-favorite {
  width: 140px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 18px;
  background: #82B3D3;
  border: none;
}

.hotel-price-container {
  display: flex;
  justify-content: space-between;
}

.star-rating-container {
  display: flex;
  justify-content: space-between;
}


.card-favorite-villas {
  padding: 8px 17px;
  background: #7DB54F;
}

.card-rating {
  text-transform: uppercase;
  background: #F2F2F2;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
}

/* Rating stars */
.stars {
  margin: 0;
  width: 140px;
  height: 17px;
}

.four-stars {
  background-image: url(../images/star.svg),
    url(../images/star.svg),
    url(../images/star.svg),
    url(../images/star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%, 72px 50%;
}

.three-stars {
  background-image: url(../images/star.svg),
    url(../images/star.svg),
    url(../images/star.svg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left 50%, 24px 50%, 48px 50%;
}

.two-stars {
  background-image: url(../images/star.svg),
    url(../images/star.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: left 50%, 24px 50%;
}

.pagination-link {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ffffff;
  background: #82B3D3;
  min-width: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}

.pagination {
  padding: 0;
  display: flex;
  gap: 8px;
  list-style: none;

}

.pagination-link-current {
  color: #000000;
  background: #F2F2F2;
}

.suspension-point {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  width: 60px;
  height: 60px;
}

.subscribe-catalog {
  background-color: #ffffff;
  background-image: none;
}

.subscribe-catalog-text {
  color: #000000;
}

.catalog-email {
  background: #F2F2F2;
}
